repos:
-   repo: https://github.com/ambv/black
    rev: stable
    hooks:
    - id: black
      language_version: python3.8
      exclude: scripts/plotting/*
-   repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
    - id: flake8
      exclude: scripts/plotting/*
      additional_dependencies: [flake8-bugbear]
      args: ["--show-source"]
-   repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: 'v0.6.10'
    hooks:
    - id: cmake-format
