include version.txt

include CMakeLists.txt
recursive-include doc *
recursive-include dat *
recursive-include DEVEL *
recursive-include include *
recursive-include src *
recursive-include sys *
recursive-include util *
recursive-include win/rl *
recursive-include win/tty *
recursive-include third_party *

recursive-exclude build *
exclude nle/dashboard
exclude nle/scripts/nh-clean-install.sh
exclude nle/scripts/run-clang-format.py
exclude nle/scripts/line-changed.sh
